@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/*  Navbar  */


.nav{
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.8); 
  /*background: transparent;*/
  z-index: 555;
  justify-content: space-between;
  transition: 0.3s ease-in-out all;
  
}

.nav.active{
  position: absolute;
  top: 50px;

  display: flex;
  width: 80%;
  left: 10%;
  height: 60px;
  /*background: rgba(0, 0, 0, 0.8); */
  border-radius: 15px;
  z-index: 555;
  justify-content: space-between;
  border:1px solid rgba(255, 255, 255, 0.7);
  transition: 0.3s ease all;
  
}

.logo a{
  text-decoration: none;
 }

.logo{
  width: auto;
  height: 40px;
  z-index: 441;
  display: flex;
  justify-content: center;
align-items: center;
margin: auto auto auto 10px;
padding: 5px 50px;
transition: 0.3s ease-in-out;
}

.logo i{
  color:#fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 2px;
  z-index: 443;
}

.logo span{
  color:rgb(130, 145, 161);
  font-weight: 500;
  margin-left: 2px;
}

.logo a:hover  i, .logo a:hover span{
  color:#e6c6d7
}

/*  Nav Menu*/

.nav_menu{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-right: 150px;
  z-index: 444;
}

.nav_menu_mob{
  display: none;
  transition: 0.5s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.nav_menu_mob.active{

display: flex;
flex-direction: column;
position: fixed;
width: 100%;
left: 0;
top:60px;
bottom: 0;
background: #ccc;
justify-content: center;
align-items: center;
background: url('https://yalantis.com/uploads/ckeditor/pictures/2916/dribble_perfect.gif') no-repeat;
background-size: cover;
transition: 0.5s ease-in-out;
z-index: 888;
}


.nav_menu_mob.active a{

  text-decoration: none;
  color:rgb(196, 192, 193);
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 20px 15px;
  font-size: 1.2rem;
  font-weight: 500;
  
  }

  .nav_menu_mob.active a:hover{

    text-decoration: none;
    color:rgb(57, 177, 171);
    margin: 0 10px;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
    padding: 20px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    
    }


.nav_menu a{
  text-decoration: none;
  color:rgb(187, 179, 179);
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 5px 0px;
}

.nav_menu a:hover{
  text-decoration: none;
  color:rgb(185, 65, 65);
  margin: 0 10px;
  border-bottom: 2px solid #fff;
}

.menu_icon{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%,40%);
  
  color:#fff;
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  

  .menu_icon{
    display: block;
  }

  .logo{
    width: auto;
    height: 40px;
    
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    transition: 0.3s ease-in-out;
  }
  
 
}



/*  Carousel Styles  */


.carousel_div{
  
 z-index: 1;
}